pipeline/MoveFileFromInputToOutputStorageAccount.json
{
	"name": "MoveFileFromInputToOutputStorageAccount",
	"properties": {
		"description": "testing",
		"activities": [
			{
				"name": "Simply Copy CSV File",
				"description": "tetsing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Setting FirstName 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EmailCsvFileDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputArchiveFolder",
						"type": "DatasetReference",
						"parameters": {
							"ArchiveFileName": {
								"value": "@concat(variables('FirstName'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Setting FirstName 2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "UserProperty",
						"value": "value for user property"
					}
				],
				"typeProperties": {
					"variableName": "FirstName",
					"value": "Slava"
				}
			}
		],
		"variables": {
			"FirstName": {
				"type": "String",
				"defaultValue": "No-Name"
			}
		},
		"folder": {
			"name": "PipelinesFolder01"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-07T13:02:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}